{{LICENSE_HEADER}}
package com.pepstack.sb2web;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class Sb2webApplication {

	public static void main(String[] args) {
		SpringApplication.run(Sb2webApplication.class, args);
	}

}
